<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>ТЕСТ</title>
    <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/font-awesome-4.2.0/css/font-awesome.min.css"/>
</h:head>
<f:view>
    <h:outputLabel value="#{indexController.message}"/>

    <h:form>
        <div class="form-group" >
        <h:panelGrid border="0" columns="2" width="100%">
            <p:outputLabel value="Период"/>
            <p:selectOneMenu value="#{indexController.requestForm.details}">
                <f:selectItems value="#{indexController.allDetails()}" var="g" itemValue="#{g}" itemLabel="#{g.label}"/>
            </p:selectOneMenu>
            <p:outputLabel value="Диагнозы"/>
            <p:autoComplete  id="analysis"
                             style="cursor: help" dropdown="true" multiple="true"
                             title="диагноз"
                             value="#{indexController.requestForm.selectedDiagnosis}"
                             converter="#{diagnosisConverter}"
                             completeMethod="#{indexController.complelteDiagnosis}"
                             var="diagnosis" itemLabel="#{diagnosis.name}"
                             itemValue="#{diagnosis}"/>
            <p:outputLabel value="С"/>
            <p:calendar mask="true" value="#{indexController.requestForm.dateStart}" required="true"
                        converter="#{localDateConverter}" locale="ru" pattern="dd.MM.yyyy"/>
            <p:outputLabel value="По"/>
            <p:calendar mask="true" value="#{indexController.requestForm.dateEnd}" required="true"
                        converter="#{localDateConverter}" locale="ru" pattern="dd.MM.yyyy"/>
            <p:outputLabel value="По возрастам"/>
            <p:selectBooleanCheckbox value="#{indexController.requestForm.byAge}">

            </p:selectBooleanCheckbox>
        </h:panelGrid>
        </div>

        <div class="form-group" >
            <p:dataTable id="agepair" value="#{indexController.requestForm.agePairList}" var="item">
                <p:column headerText="от ___ лет">
                    <p:inputMask mask="9?99" value="#{item.start}"/>
                </p:column>
                <p:column headerText="до ___ лет">
                    <p:inputMask mask="9?99" value="#{item.end}"/>
                </p:column>
            </p:dataTable>
            <p:commandButton value="добавить" update="agepair"
                             actionListener="#{indexController.addAgePair()}"/>

        </div>
    </h:form>


</f:view>
</html>
